@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  background-image: url("../static/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

table {
  margin-left: auto;
  margin-right: auto;
}

input[type="checkbox"] {
  vertical-align: middle;
  float: right;
}

input,
.table {
  font-family: "Poppins";
  vertical-align: middle;
}

input {
  margin: 5px 0px;
}

td {
  border: 2px solid black;
  width: 675px;
  text-align: left;
  padding: 7px;
  background-color: #766d6b;
}

.parent,
.suggestion-submit {
  text-align: center;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
}
