<!DOCTYPE html>
<html>
  <head>
    <title>Skyrim Character Generator</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>

  <div class="outer">
    <div class="inner">
      <div class="parent">
        <form action="{{ url_for('handle_data') }}" method="post">
          <table class="table">
            {% for strings_keyvalues_list in data %}
            <tr>
              <td>
                {% if strings_keyvalues_list[2] == 0 %}
                {{strings_keyvalues_list[0]}}
                <input
                  type="checkbox"
                  name="checked_property"
                  value="{{strings_keyvalues_list[1]}}"
                />
                {% else %} {{strings_keyvalues_list[0]}}
                <input
                  type="checkbox"
                  name="checked_property"
                  value="{{strings_keyvalues_list[1]}}"
                  checked
                />
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
          <input
            type="submit"
            value="Create a new character, keeping the selected properties."
          />
        </form>
      </div>
      <div class="suggestion-submit">
        <form action="{{ url_for("show_suggestion_page")}}">
        <input type="submit" value="Submit a suggestion to the website! :)" />
      </div>
    </div>
  </div>
</html>
