<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Skyrim Character Generator</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div class="outer">
      <div class="inner">
        <div>
          <h1>Suggestion Box</h1>
        </div>
        <div>
          <form method="POST" action="/submit_suggestion">
            <label for="suggestion"></label>
            <textarea
              id="suggestion"
              name="suggestion"
              rows="4"
              cols="50"
              required
            >
Your Suggestion:</textarea
            >
            <br />
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
